/paradigms-2020-solutions.iml
/.idea/
/java-solutions/expression/base/
/java-solutions/expression/generic/GenericTest.java
/java-solutions/expression/generic/GenericCmmTest.java
/java-solutions/expression/BaseTest.java
/javascript-solutions/.idea/
/javascript-solutions/_out/
/java-solutions/expression/.idea/
/java-solutions/queue/ArrayQueueTest.java
/java-solutions/queue/ArrayQueueToArrayTest.java
/java-solutions/queue/QueueFunctionsTest.java
/java-solutions/queue/QueueTest.java
/java-solutions/queue/QueueToArrayTest.java
/java-solutions/queue/ReflectionTest.java
/.project