/paradigms-2020-solutions.iml
/.idea/
/java-solutions/expression/base/
/java-solutions/expression/generic/GenericTest.java
/java-solutions/expression/generic/GenericCmmTest.java
/java-solutions/expression/BaseTest.java
/javascript-solutions/.idea/
/javascript-solutions/_out/
